/* Body color */
.body1 {
    background-color: rgb(218, 172, 167);
    max-width: 1000px;
    margin: 0 auto;
    height: calc(100vh - 200px);
    text-align: center;
}



h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 75px;
    color: rgb(29, 114, 70);
}

@media (max-width: 375px) {
    h1 {
      font-size: 50px;  
    }
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: rgb(29, 121, 121);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: rgb(29, 121, 121);
}

p {
    font-size: 20px;
}

.sales {
    font-size: medium;
}




.row {
    display: flex;
}

.row2 {
    display: flex;
    height: 300px;
    width: auto;
}

.contact-location {
    display: flex;
    flex-direction: row;
}

/* .contact {
    margin: 25x;
}

.location {
    margin: 25px;
} */


/* Sales Data */
#cookieSales, th, td {
    text-align: center;
    background-color: rgb(166, 248, 244);
    border: 1px solid;
    margin: auto;
    margin-top: auto;
    height: auto;
}

#chinook {
    height: 300px;
    width: auto;
}

/* Body color */
.body2 {
    background-color: rgb(218, 172, 167);
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: darkcyan;
}

